<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="map">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
    <ion-tab-button tab="users">
      <ion-icon name="people-outline"></ion-icon>
      Users
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="settings-outline"></ion-icon>
      Profile
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab tab="map">
    <ion-content>
      <div id="map" style="height: 100%;"></div>
    </ion-content>
  </ion-tab>

  <ion-tab tab="users">
    <ion-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Users</ion-card-title>
          <ion-card-subtitle>telcotec workers</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            @for(user of users; track user.index;) {
              <ion-item>
                <ion-thumbnail slot="start">
                  <ion-icon class="user-icon" name="person-circle-outline"></ion-icon>
                </ion-thumbnail>
                <ion-label>{{user.name}}</ion-label>
                <ion-button color="dark" (click)="presentAlert(user.name)" shape="round">
                  <ion-icon slot="icon-only" name="compass-outline"></ion-icon>
                </ion-button>
              </ion-item>
            }
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-tab>

  <ion-tab tab="profile">
    <ion-content>
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title>{{username}}</ion-card-title>
          <ion-card-subtitle>Profile</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <h3>Longitude : <strong>{{longitude}}</strong></h3>
          <h3>Latitude : <strong>{{latitude}}</strong></h3>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </ion-tab>
</ion-tabs>